.head{
    height: 43px;
    width: 100%;
    background-color:rgb(83, 79, 79);
    position: relative;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.nav1{
    display: flex;
    justify-content: space-between;
    position: relative;
    top:5px;
}
body{
    margin: 0;
    padding: 0;
    height: 200vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(lap3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;    
}

.a1{
    color:#ecececc4;
    font-size: 20px;
    padding-left: 9%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.a2{
    padding-right: 12%;
}
.a2 a{
    color: #ecececc4;
    padding: 20px;
    text-decoration: none;
    font-size: px;
    font-weight: 500;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bg a{
    color:#fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-family:sans-serif;

}
.bg p{
    color: #f1ebeb;
    font-size: 20px;
    margin-top: 10px;
    position: relative;
    top: 4px;
}
.work{
    display:flex;
    justify-content: center;
    align-items: center;    
}
.work p1{
    color:#524c4cbb;
    border: 13px solid #fff;
    background-color: #fff;
    font-size: 11px;
    font-weight:bolder;
    height: 14px;
    font-family:sans-serif;
    border-radius: 20px;
    position: relative;
    top: 4vh;
    padding-right: 9px;
    padding-left: 9px;
}
.arrow {
    border: solid #4e4949;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    position: relative;
    left: 3px;
    
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.or{
    color:#ffffffee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 19vh;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bolder; 
    padding: ;  
}
h,h0{
    width: 7%; 
    text-align: center; 
    border-bottom: 3px solid #ffffffee ; 
    line-height: 0.1em;
    margin: 3px 9px 4px; 
    
 } 


.aru {
        height: 1px;
        width: auto;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
        padding: 10px;
        
      }   

 .aru img {
        height: 250px;
        width: 250px;
        border-radius: 0%;
      }
 @media (max-width:700px)  {
        .a1,.a2{
            padding: 0%;}
        .a2 a{
            display: ;
             padding: 3px;
             font-size: 11px;
        }
        .bg a{
            margin-top: 2%;
        }
        
        
        .aru img{
            height: 18vh;
            width: 18vh; }  
         .or{
            margin-top: 12vh;
         } 
      }
      
     
     
